body {
  background-color: #d4c9e0;
}

p, button, label {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

p, li, label {
  font-size: 20px;
  color: #45008e;
}

button {
  background-color: #45008e;
  color: white;
  font-size: 20px;
}

.active {
  background-color: #45008e;
  color: white;
  font-size: 20px;
}

li {
  list-style-type: none;
  font-family: 'Nunito', sans-serif;
}

.button-p, .form-group, .instructions, #results {
  text-align: center;
}

.instructions {
  text-align: center;
}

.jumbotron {
  background-color: #45008e;
  color: white;
    font-family: 'Nunito', sans-serif;
}

#results {
  display: none;
}
