body {
  background-color: #d4c9e0;
}

button, label, p {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

label, li, p {
  font-size: 20px;
  color: #1639a3;
}

li {
  list-style-type: none;
  font-family: 'Nunito', sans-serif;
}

.button-p, .form-group, .instructions, #results {
  text-align: center;
}

.jumbotron {
  background-color: #1639a3;
  color: white;
  font-family: 'Nunito', sans-serif;
}

#results {
  display: none;
  border: 2px solid #1639a3;
  padding-top: 5px;
}
